# Project-specific
data/raw/
data/processed/
data/skoda_baseline/
*.pkl
*.onnx
.venv/
venv/
.ipynb_checkpoints/
.vscode/
.idea/

# But keep the gitkeep files
!data/.gitkeep
!**/.gitkeep

# Keep one README in data/
!data/README.mdS